extends ../index
block content
  div
    div#p
      p Phasellus laoreet condimentum augue sit amet ultrices. Donec nec accumsan leo, accumsan accumsan dolor. Sed non tristique nibh. Duis vulputate risus lectus, nec egestas risus suscipit id. Curabitur aliquam massa et quam hendrerit malesuada. Cras aliquet auctor turpis. Mauris malesuada lorem non scelerisque pretium. Nullam iaculis volutpat mi, dignissim egestas odio.
    div#p
      p Phasellus eu euismod mauris, sed faucibus erat. Etiam mattis dolor eget cursus ultricies. Duis lobortis justo eu nunc suscipit scelerisque. Duis eget nibh quam. Quisque scelerisque malesuada pharetra. Cras facilisis lacus in libero lobortis, vel rutrum lacus mollis. Donec eget quam imperdiet, venenatis neque gravida, iaculis mauris. Sed non tempor magna, dictum aliquam odio. Quisque imperdiet magna sed libero sollicitudin, et rutrum felis tincidunt. Nunc venenatis, leo non consequat pharetra, dui enim lobortis nunc, vel aliquet dui urna nec lacus.
    div#links    
      h3 Movie Reference Links
      ul
        li: a(href="http://rottentomatoes.com") Rotten Tomatoes
        li: a(href="http://www.imdb.com/") IMDB
